body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,img{margin:0;padding:0}
img{border:none;vertical-align:middle}
body{font-family:'Microsoft Yahei','Simsun'; color:#444; line-height:150%; min-width:320px}
h1,h2,h3,h4,h5,h6{font-size:100%}
a{text-decoration : none;color:#1e50a2;}
a:hover{text-decoration : underline;}

.red{color:#bc1600;}
.time{padding-right:12px;width:52px;}
.free{position:absolute;top:-23px;display:block;left:100px;background:url(../images/icon.png) no-repeat left top;height:21px;width:32px;font-size:12px;color:#fff;text-align:center;line-height:16px;}
.marto10{margin-top:10px;}
.hline{border-bottom:solid 1px #ccc;margin-top:30px;width:90%;margin-left:auto;margin-right:auto;}
header > .logobar{
	height:60px;
	background-color:#fff;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#eeeeee)); /* Saf4+, Chrome */
	background-image:-webkit-linear-gradient(top, #fff, #eeeeee); /* Chrome 10+, Saf5.1+ */
	background-image:-moz-linear-gradient(top, #fff, #eeeeee); /* FF3.6 */
	background-image:-ms-linear-gradient(top, #fff, #eeeeee); /* IE10 */
	background-image:-o-linear-gradient(top, #fff, #eeeeee); /* Opera 11.10+ */
	background-image:linear-gradient(top, #fff, #eeeeee);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eeeeee'); /* IE6–IE9 */
}
header > .logobar > .logo{display:inline-block;width:127px;height:44px;background:url(../images/logo.png) no-repeat;float:left;margin:5px auto auto 10px;}
.conbar{float:right;margin-right:10px;text-shadow:1px 1px 3px #7d7d7d;}
.conbar > a{display:block;}
.conbar > .phone{font-family:'Arial';color:#1e50a2;
	background-color:#e9f3f6;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#e9f3f6), to(#e9f3f6)); /* Saf4+, Chrome */
	background-image:-webkit-linear-gradient(top, #e9f3f6, #e9f3f6); /* Chrome 10+, Saf5.1+ */
	background-image:-moz-linear-gradient(top, #e9f3f6, #e9f3f6); /* FF3.6 */
	background-image:-ms-linear-gradient(top, #e9f3f6, #e9f3f6); /* IE10 */
	background-image:-o-linear-gradient(top, #e9f3f6, #e9f3f6); /* Opera 11.10+ */
	background-image:linear-gradient(top, #e9f3f6, #e9f3f6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#e9f3f6', EndColorStr='#e9f3f6'); /* IE6–IE9 */
	border:solid 1px #cde1eb;border-radius:3px;padding:2px 9px 2px 9px;position:relative;top:25px;
}
.conbar > *{height:26px;line-height:26px;}
.headmenu{height:69px;text-align:center;
	background-color:#4c76ae;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#5b93dc), to(#4c76ae)); /* Saf4+, Chrome */
	background-image:-webkit-linear-gradient(top, #5b93dc, #4c76ae); /* Chrome 10+, Saf5.1+ */
	background-image:-moz-linear-gradient(top, #5b93dc, #4c76ae); /* FF3.6 */
	background-image:-ms-linear-gradient(top, #5b93dc, #4c76ae); /* IE10 */
	background-image:-o-linear-gradient(top, #5b93dc, #4c76ae); /* Opera 11.10+ */
	background-image:linear-gradient(top, #5b93dc, #4c76ae);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#5b93dc', EndColorStr='#4c76ae'); /* IE6–IE9 */
}
.headmenu > p.first {padding-top:9px;}
.headmenu > p > a{display:inline-block;width:30%;color:#fff;height:25px;font-size:110%;}
.headmenu > p > a.vline{background:url(../images/vLine.png) no-repeat right center;padding-right:3px;}
.scrollbar{
	background-color:#e5e5e5;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#e5e5e5)); /* Saf4+, Chrome */
	background-image:-webkit-linear-gradient(top, #f9f9f9, #e5e5e5); /* Chrome 10+, Saf5.1+ */
	background-image:-moz-linear-gradient(top, #f9f9f9, #e5e5e5); /* FF3.6 */
	background-image:-ms-linear-gradient(top, #f9f9f9, #e5e5e5); /* IE10 */
	background-image:-o-linear-gradient(top, #f9f9f9, #e5e5e5); /* Opera 11.10+ */
	background-image:linear-gradient(top, #f9f9f9, #e5e5e5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f9f9f9', EndColorStr='#e5e5e5'); /* IE6–IE9 */
	height:35px;border-bottom:1px solid #c6c6c6;
}
.scrollbar > ul{display:inline-block;}
.marquee{height:100%;overflow:hidden;}
.scrollbar > ul > li{height:35px;line-height:35px;}
.scrollbar > ul > li a{height:35px;line-height:35px;text-overflow:ellipsis;color:#1e50a2;padding-left:20px;background:url(../images/icon.png) no-repeat left -44px;}
.tabledata table{margin:auto;backgroound:#fff;}
.tabledata table thead tr th{
	font-family:'黑体';
	height:42px;
	border-bottom:3px solid #5485c6;
}
.tabledata table > tbody > tr > td{border-bottom:solid 1px #c6c6c6;height:36px;text-align:center;color:#1e50a2;}
.tabledata table > tbody > tr > td > .up{color:#ff0000;font-family:'宋体';background:url(../images/icon.png) no-repeat -3px -65px;padding-left:13px;}
.tabledata table > tbody > tr > td > .down{color:#009900;font-family:'宋体';background:url(../images/icon.png) no-repeat -3px -84px;padding-left:13px;}
.redbutton{
	/*
	background-color:#5485c7;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d0daf6)); 
	background-image:-webkit-linear-gradient(top, #ffffff, #d0daf6); 
	background-image:-moz-linear-gradient(top, #ffffff, #d0daf6); 
	background-image:-ms-linear-gradient(top, #ffffff, #d0daf6); 
	background-image:-o-linear-gradient(top, #ffffff, #d0daf6); 
	background-image:linear-gradient(top, #ffffff, #d0daf6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#d0daf6'); 
	border:1px solid #b7c6f1;cursor:pointer;border-radius:3px;box-shadow:1px 1px 1px #b2b9ca;
	min-height:23px;padding-left:5px;padding-right:5px;
	*/
	background:url(../images/btn.png) no-repeat left top;width:78px;height:22px;border:none;cursor:pointer;
}
.blurbutton{
	/*
	background-color:#eef8fd;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#e3e3e3)); 
	background-image:-webkit-linear-gradient(top, #fdfdfd, #e3e3e3);
	background-image:-moz-linear-gradient(top, #fdfdfd, #e3e3e3); 
	background-image:-ms-linear-gradient(top, #fdfdfd, #e3e3e3); 
	background-image:-o-linear-gradient(top, #fdfdfd, #e3e3e3);
	background-image:linear-gradient(top, #fdfdfd, #e3e3e3);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fdfdfd', EndColorStr='#e3e3e3');
	border:1px solid #e3e3e3;border-radius:3px;box-shadow:1px 1px 1px #c8c8c8;min-height:23px;padding-left:5px;padding-right:5px;cursor:pointer;
	*/
	background:url(../images/btn1.png) no-repeat left top;width:58px;height:22px;border:none;cursor:pointer;
}
.redbutton:hover,.blurbutton:hover{color:red;}
.modl{margin-bottom:9px;}
.modl .head{height:35px;line-height:35px;color:#fff;
	background-color:#5485c7;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#62a3f8), to(#5485c7)); /* Saf4+, Chrome */
	background-image:-webkit-linear-gradient(top, #62a3f8, #5485c7); /* Chrome 10+, Saf5.1+ */
	background-image:-moz-linear-gradient(top, #62a3f8, #5485c7); /* FF3.6 */
	background-image:-ms-linear-gradient(top, #62a3f8, #5485c7); /* IE10 */
	background-image:-o-linear-gradient(top, #62a3f8, #5485c7); /* Opera 11.10+ */
	background-image:linear-gradient(top, #62a3f8, #5485c7);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#62a3f8', EndColorStr='#5485c7'); /* IE6–IE9 */
}
.modl .head .title{float:left;margin-left:5px;font-weight:600;font-size:17px;}
.modl .head .top{display:inline-block;width:33px;height:24px;background:url(../images/icon.png) no-repeat left -104px;float:right;margin-right:6px;margin-top:3px;}
.modl ul{margin-right:5px;margin-left:5px;}
.modl ul > li{border-bottom:1px solid #d1d1d1;line-height:36px;list-style:none;}
.les ul > li {background:url(../images/icon.png) no-repeat right -150px;padding-right:12px;overflow:hidden; text-overflow:ellipsis;white-space:nowrap;display:block;}
.les ul > li.linked{line-height:28px;}
.les ul > li.linked a{text-decoration:none;color:#797878;font-size:90%;}
.modl ul > li > a{padding-right:6px;}
.modl ul > li > a[haspic="true"]{background:url(../images/icon.png) no-repeat right -131px;padding-right:25px;}
.modl ul > li > p {padding-top:6px;padding-bottom:6px;text-indent:2em;line-height:26px;}
.modl ul > li:before a{color:red} 
.linkqiue ul > li > .panel > a{display:inline-block;padding-left:3px;padding-right:3px;line-height:25px;}
.modl ul > li .lsbel{display:block;float:left;width:85px;}
.modl ul > li .panel{margin-left:86px;}
.modl > .bottom{background:#f6f6f6;height:38px;text-align:right;line-height:38px;padding-right:5px;}
.modl > .bottom a{color:#bc1600;text-decoration : underline;font-size:14px;font-family:'宋体';margin-right:5px;}
#curPath{height:35px;line-height:35px;color:#fff;font-family:'宋体';font-size:110%;text-align:left;padding-left:5px;}
#curPath a.label{color:#fff;text-decoration:underline;}
.modl .head1{background:#d3e1f5;color:#fff;height:32px;line-height:32px;color:#000;font-size:110%;padding-left:5px;white-space:nowrap;}
.modl .head1  a{color:#000;font-size:90%;}
.modl .head1  a[selected="true"]{color:#bc1703;}
#page{height:28px;line-height:28px;text-align:right;}
#page a{margin-right:10px;}
.homebar{text-align:center;height:62px;}
.homebar a{height:26px;padding-left:12px;padding-right:12px;border-radius:5px;border:none;
	color:#fff;font-weight:600;display:inline-block;margin:16px auto auto auto;vertical-align:middle;
	background-color:#981c1e;
	background-image:-webkit-gradient(linear, left top, left bottom, from(#ee7677), to(#981c1e)); /* Saf4+, Chrome */
	background-image:-webkit-linear-gradient(top, #ee7677, #981c1e); /* Chrome 10+, Saf5.1+ */
	background-image:-moz-linear-gradient(top, #ee7677, #981c1e); /* FF3.6 */
	background-image:-ms-linear-gradient(top, #ee7677, #981c1e); /* IE10 */
	background-image:-o-linear-gradient(top, #ee7677, #981c1e); /* Opera 11.10+ */
	background-image:linear-gradient(top, #ee7677, #981c1e);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ee7677', EndColorStr='#981c1e'); /* IE6–IE9 */
}
DIV.sabrosus {
    margin: 3px;padding: 3px;text-align: left;font-family:'宋体';
}
DIV.sabrosus SPAN.disabled {
    border-color: #929292;border-right: 1px solid #929292;border-style: solid;border-width: 1px;color: #929292;margin-right: 2px;padding: 2px 5px;
}
DIV.sabrosus SPAN.current {
    background-color: #2E6AB1;border-color: navy;border-right: 1px solid navy;border-style: solid;border-width: 1px;color: #FFFFFF;font-weight: bold; margin-right: 2px; padding: 2px 5px;
}
DIV.sabrosus A {
    border-color: #9AAFE5;border-right: 1px solid #9AAFE5;border-style: solid;border-width: 1px;color: #2E6AB1;margin-right: 2px;padding: 2px 5px; text-decoration: none;font-family:'宋体';font-size:90%;
}
DIV.sabrosus A:hover {
	BORDER-RIGHT: #2b66a5 1px solid; BORDER-TOP: #2b66a5 1px solid; BORDER-LEFT: #2b66a5 1px solid; COLOR: #000; BORDER-BOTTOM: #2b66a5 1px solid; BACKGROUND-COLOR: lightyellow
}
DIV.pagination A:active {
	BORDER-RIGHT: #2b66a5 1px solid; BORDER-TOP: #2b66a5 1px solid; BORDER-LEFT: #2b66a5 1px solid; COLOR: #000; BORDER-BOTTOM: #2b66a5 1px solid; BACKGROUND-COLOR: lightyellow
}
.footer{text-align:center;height:60px;line-height:60px;color:#9a9999;background:#f3f3f3;font-size:12px;}
