/* index.html */
#page1 #top-content .col-1 {width:283px}
#page1 #top-content .col-2 {width:315px}
#page1 #top-content .col-3 {width:317px}
#page1 #content .col-1 {width:235px;margin-right:50px}
#page1 #content .col-2 {width:247px}