@CHARSET "UTF-8";
/************940px宽**************/
.container, .row {
	width: 940px;
	margin: 0 auto;
}
.navbar-fixed-top .container {width: 940px;}
.row > [class *="span"]:first-child {margin-left: 0;}
.row > .module-list-div [class *="span"]:first-child {margin-left: 0;}
.row {margin-left: 0;}
.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12, .span13, .span14, .span15, .span16 {
	float: left;
	margin-left: 20px;
}
.span16 {width: 940px;}
.span15 {width: 880px;}
.span14 {width: 820px;}
.span13 {width: 760px;}
.span12 {width: 700px;}
.span11 {width: 640px;}
.span10 {width: 580px;}
.span9 {width: 520px;}
.span8 {width: 460px;}
.span7 {width: 400px;}
.span6 {width: 340px;}
.span5 {width: 280px;}
.span4 {width: 220px;}
.span3 {width: 160px;}
.span2 {width: 100px;}
.span1 {width: 40px;}
.offset16 {margin-left: 980px;}
.offset15 {margin-left: 920px;}
.offset14 {margin-left: 860px;}
.offset13 {margin-left: 800px;}
.offset12 {margin-left: 740px;}
.offset11 {margin-left: 680px;}
.offset10 {margin-left: 620px;}
.offset9 {margin-left: 560px;}
.offset8 {margin-left: 500px;}
.offset7 {margin-left: 440px;}
.offset6 {margin-left: 380px;}
.offset5 {margin-left: 320px;}
.offset4 {margin-left: 260px;}
.offset3 {margin-left: 200px;}
.offset2 {margin-left: 140px;}
.offset1 {margin-left: 80px;}
.span13>[class *="span"]:first-child {margin-left: 0;}
.span13>.span8 {margin-left: 0;}
.span13>.span13 {margin-left: 0;}
input.span16, textarea.span16, .uneditable-input.span16 {width: 926px;}
input.span15, textarea.span15, .uneditable-input.span15 {width: 866px;}
input.span14, textarea.span14, .uneditable-input.span14 {width: 806px;}
input.span13, textarea.span13, .uneditable-input.span13 {width: 746px;}
input.span12, textarea.span12, .uneditable-input.span12 {width: 686px;}
input.span11, textarea.span11, .uneditable-input.span11 {width: 626px;}
input.span10, textarea.span10, .uneditable-input.span10 {width: 566px;}
input.span9, textarea.span9, .uneditable-input.span9 {width: 506px;}
input.span8, textarea.span8, .uneditable-input.span8 {width: 446px;}
input.span7, textarea.span7, .uneditable-input.span7 {width: 386px;}
input.span6, textarea.span6, .uneditable-input.span6 {width: 326px;}
input.span5, textarea.span5, .uneditable-input.span5 {width: 266px;}
input.span4, textarea.span4, .uneditable-input.span4 {width: 206px;}
input.span3, textarea.span3, .uneditable-input.span3 {width: 146px;}
input.span2, textarea.span2, .uneditable-input.span2 {width: 86px;}
input.span1, textarea.span1, .uneditable-input.span1 {width: 26px;}
.logo-div .logo-img {
	width: auto;
	max-width: 193px;
	display: block;
	margin: 0 auto;
}
.label-div .news-list h1 {
	max-width: 490px;
}
.label-div .label-title span a {
	padding-right: 2px;
}
.label-div .label-main ul.event-list h1 {
	font-size: 16px;
	font-weight: normal;
	*font-weight: bold;
	height: 22px;
	width: 300px;
	overflow: hidden;
}
.label-div .news-view h1 {
	width: 520px;
}
.clearfix.t-15.pl-25 div.pull-left {
	width: 480px;
}
.topic-title h1 {
	width: 450px;
}
.clearfix.t-15 div.pull-left {
	width: 500px;
}
.topic-catalog .span6 {
	padding-right: 0;
}
.topic-catalog .span6 ul.clearfix.pull-left.pl-40 {
	padding-left: 10px;
}
.topic-catalog .OF-label {
	margin-left: 15px;
	padding-left: 12px;
	padding-right: 11px;
}
.fun_list .span1.border-r {
	padding-right: 15px;
}
.label-div-none .label-main .people-list ul li {
	padding-right: 13px;
	padding-left: 4px;
}
.related-div .video-list .span2 {
	padding-right: 10px;
}
.classifyDIV {
	width: 480px;
}
/**************IE6兼容***************/
.navbar-inner {
	_width: 940px;
	_height: 40px;
	_overflow: hidden;
}
.navbar  ul.nav li {
    _float: left;
}
.navbar  ul.nav li a {
	_color: #FFF;
    _float: left;
    _padding: 10px 20px;
    _margin: 0;
}
.navbar  ul.nav li a:hover{
 	 _background-color: #2885C8;
	}

.navbar ul.nav.login-none li.dropdown a b.caret {
	_display: none;
}
.navbar ul.nav.library-fun li a {
   	_padding: 5px 8px 2px;
    _background: #2E2E2E;
}
.navbar ul.nav.library-fun li.active a, .navbar ul.nav.library-fun li a:hover {
    _background: #666;
}
.navbar ul.nav li.dropdown.active a {
  _background-color: #2885C8;
  _color: #FFF;
}
.row.home-index .span13 {
	_width: 760px;
}
.row.home-index .span13, .row.home-index .span13 .span8 {
	_margin-left: 0px;
}
.row.home-index .span13 .span8 .label-div {
	_width: 443px;
	_overflow: hidden;
}
.row.home-index .span13 .span5 .label-div {
	_width: 263px;
	_overflow: hidden;
}
.row.home-index .span13 .span5 .label-div .label-title span {
	_width: 170px;
}
.row.home-index .span3 {
	_width: 160px;
	_overflow: hidden;
}
.row.home-index .span3 img {
	_width: 160px;
	_display: block;
	_overflow: hidden;
}
.row.home-index .span3 .label-div img {
	_width: 128px;
	_display: block;
	_overflow: hidden;
}
.news-slides {
	_width: 428px;
	_height: 372px;
	_overflow: hidden;
}
.news-slides .slides-list .slides-css {
	_width: 428px;
	_height: 260px;
	_overflow: hidden;
	position: relative;
}
.news-slides .slides-list .slides-css img {
	_width: 428px;
	_height: 260px;
	_overflow: hidden;
}
.label-div .label-main .news-slides .intro h1 {_height: 32px;_overflow: hidden;}
.news-slides .slides-list .slides-icon {
	position: absolute;
	_right: 5px;
	_bottom: 10px;
	_height: 12px;
}
.label-div .label-main .news-list .span3 {
	width: 160px;
	overflow: hidden;
	_margin-left: 10px;
}
.label-div .label-main .news-list .span3 img {
	width: 160px;
	height: 135px;
	overflow: hidden;
	display: block;
}
.news-slides .slides-list .slides-icon {
	position: absolute;
	_top: 240px;
}
.label-div .label-main .topic-list .span1, .label-div .label-main .group-list .span1 {
	width: 40px;
	overflow: hidden;
	_margin-left: 10px;
}
.label-div .label-main .topic-list .span1 img, .label-div .label-main .group-list .span1 img {
	width: 40px;
	height: 40px;
	overflow: hidden;
	display: block;
}
.label-main .video-list {
	_padding-bottom: 30px;
}
.label-main .video-list .video-img img {
	_width: 166px;
	_height: 100px;
	_overflow: hidden;
	_display: block;
}
.event-slides {
	_width: 428px;
	_height: 215px;
	_overflow: hidden;
}
.event-slides .slides-list-event .slides-css-event {
	_width: 428px;
	_height: 80px;
	_overflow: hidden;
	position: relative;
}
.event-slides .slides-list-event .slides-icon-event {
	position: absolute;
	_top: 60px;
}
.classifySearch {position: relative;}
.classifySearch .search-input {_width: 200px;_position: absolute;_right: 0px;}
.label-div .label-main .event-div {
	_width: 445px;
	_overflow: hidden;
}
.label-div .label-main .event-index a img {
    _width: 430px;
    _height: 80px;
    _overflow: hidden;
}
.label-div-none .group-list .span1 {
	_width: 40px;
	_overflow: hidden;
	_margin-left: 10px;
}
.label-div-none .group-list .span1 img {
	_width: 40px;
    _height: 40px;
    _overflow: hidden;
}
.label-div-none .label-main .people-list ul li, .label-div .label-main .people-list ul li img {
	_width: 50px;
	_height: 50px;
	_overflow: hidden;
}
.group-view .span2 {
	_width: 100px;
	_overflow: hidden;
	_margin-left: 10px;
}
.group-view .offset2.intro {
	_padding-left: 20px;
}
.group-view .span2 img {
	_width: 100px;
	_height: 100px;
	_overflow: hidden;
}
.related-div .topic-list .span1 {
	_width: 40px;
	_overflow: hidden;
	_margin-left: 10px;
}
.related-div .topic-list .span1 img {
	_width: 40px;
    _height: 40px;
    _overflow: hidden;
}
.fun_list .span1.border-r {
	_margin-left: 10px;
}
.row .span12 {
	_margin-left: 0;
	_width: 700px; 
}
.row .span12 .label-div.topic-hot .view-main .view-content .span3 {
	_width: 160px;
}
.row .span12 .label-div.topic-hot .view-main .view-content .span3 img {
	_width: 160px;
	_overflow: hidden;
}
.row .span12 .label-div.topic-hot .view-main .view-content .span4 {
	_width: 220px;
}
.row .span12 .label-div.topic-hot .view-main .view-content .span4 img {
	_width: 220px;
	_overflow: hidden;
}
.row .span12 .label-div.topic-hot .view-main .view-content .span5 {
	_width: 280px;
}
.row .span12 .label-div.topic-hot .view-main .view-content .span5 img {
	_width: 280px;
	_overflow: hidden;
}
.row .span12 .label-div.topic-hot .view-main .view-content .span6 {
	_width: 340px;
}
.row .span12 .label-div.topic-hot .view-main .view-content .span6 img {
	_width: 340px;
	_overflow: hidden;
}
.row .span12 .label-div.topic-hot .view-main .view-content .span7 {
	_width: 400px;
	_overflow:hidden;
}
.row .span12 .label-div.topic-hot .view-main .view-content .span8 {
	_width: 460px;
}
.row .span4 {_width: 220px;float: left;}
.row .span4 img {_width: 195px;_overflow: hidden; }
.index-list .docu-top-right {width: 592px;}
.index-list-1 .docu-top-right {width: 268px;}
.index-list-1 .docu-top-right-1 {width: 260px;}
.docu-list, .images-list {
    width: 658px;
}
.docu-list .list-li {
   margin-right: 11px;
}
.docu-list .list-li:nth-child(5) {
   margin-right: 0;
}
.docu-list .list-li .title {
    _height: 40px;
    _line-height: 20px;
}
.name-css {max-width: 100px;_width: 100px;}
.index-top .span6 {_width: 340px;}
.index-top .span3 {_width: 160px;}
.pic-1 a img {height: 198px;_width: 330px;}
.pic-2 a img, .pic-3 a img {height: 94px;}
.pic-2 a img {_width: 160x;}
.pic-3 a img {_width: 75x;}

.video-divList .video-img img {width: 160px;}
.docu-div .docu-img.span2 {_margin-left: 10px;}
.collections-div .docu-img.span2, .collections-video-div .docu-img.span2, .video-divList.span3, .video-div .span2, .image-div .span2 {_margin-left: 10px;}
.collections-video-div .docu-img.span2 img, .video-div .span2 .video-img img, .image-div .span2 .docu-img img {_width: 100px; }
/******图片预览*******/
.image-view .view_middle .pic_main {width: 520px;}
.image-view .view_middle .pic_main .pic_main_div { width: 520px; }
.image-view .view_middle .pic_main .pic_img{width: 520px;}
.image-view .view_middle .pic_main .pic_img img{max-width: 520px;max-height: 450px;_width: 520px;_height: 450px;}
.image-view .view_middle .pic_main .pic_intro{width: 520px;padding-top: 40px;}
.mark_left, .mark_right {height: 380px;width: 260px;}
.mark_right {left: 260px;}
.image-view .view_middle .pic_thum{margin-right: 0px;}
.image-view .view_top .top_page{margin-left:160px;_margin-left:140px;}
.input-lib {_width: 350px;}
.images-list {height: 168px;_height: 166px;}
.videos-list {height: 160px;_height: 160px;}
.images-list .list-li, .videos-list .list-li {margin-right: 14px;}
.logo-lib {padding-left: 1em;}
.footer-info {display: none;}
.home-other a img {_width: 26px;_height: 26px;}
.home-other a {margin-right: 3px;_margin-right: 2px;}
.none-960 {display: none;}
.input-lib input.span7 {_width: 336px;}