@CHARSET "UTF-8";
/************1020px宽****************/
.container, .row {
	width: 1020px;
	margin: 0 auto;
}
.navbar-fixed-top .container {width: 1020px;}
.row > [class *="span"]:first-child {margin-left: 0;}
.row > .module-list-div [class *="span"]:first-child {margin-left: 0;}
.row {margin-left: 0;}
.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12, .span13, .span14, .span15, .span16 {
	float: left;
	margin-left: 20px;
}
.span16 {width: 1020px;}
.span15 {width: 955px;}
.span14 {width: 890px;}
.span13 {width: 825px;}
.span12 {width: 760px;}
.span11 {width: 695px;}
.span10 {width: 630px;}
.span9 {width: 565px;}
.span8 {width: 500px;}
.span7 {width: 435px;}
.span6 {width: 370px;}
.span5 {width: 305px;}
.span4 {width: 240px;}
.span3 {width: 175px; _width:130px;}
.spanm3 {width: 175px; _width:130px; _margin-left:10px;}
.spanm3 img{_width:130px;}
.span2 {width: 110px;}
.span1 {width: 45px;}
.offset16 {margin-left: 1060px;}
.offset15 {margin-left: 995px;}
.offset14 {margin-left: 930px;}
.offset13 {margin-left: 865px;}
.offset12 {margin-left: 800px;}
.offset11 {margin-left: 735px;}
.offset10 {margin-left: 670px;}
.offset9 {margin-left: 605px;}
.offset8 {margin-left: 540px;}
.offset7 {margin-left: 475px;}
.offset6 {margin-left: 410px;}
.offset5 {margin-left: 345px;}
.offset4 {margin-left: 280px;}
.offset3 {margin-left: 215px; _margin-left:155px;}
.offset2 {margin-left: 150px;}
.offset1 {margin-left: 85px;}
input.span16, textarea.span16 {width: 1006px;}
input.span15, textarea.span15 {width: 941px;}
input.span14, textarea.span14 {width: 876px;}
input.span13, textarea.span13 {width: 811px;}
input.span12, textarea.span12 {width: 746px;}
input.span11, textarea.span11 {width: 681px;}
input.span10, textarea.span10 {width: 616px;}
input.span9, textarea.span9 {width: 551px;}
input.span8, textarea.span8 {width: 486px;}
input.span7, textarea.span7 {width: 421px;}
input.span6, textarea.span6 {width: 356px;}
input.span5, textarea.span5 {width: 291px;}
input.span4, textarea.span4 {width: 226px;}
input.span3, textarea.span3 {width: 161px;}
input.span2, textarea.span2 {width: 96px;}
input.span1, textarea.span1 {width: 31px;}
.logo-div .logo-img {
	width: auto;
	max-width: 193px;
	display: block;
	margin: 0 auto;
}
.label-div .news-list h1 {
	max-width: 580px;
}
.label-div .label-main ul.event-list h1 {
	font-size: 16px;
	font-weight: normal;
	*font-weight: bold;
	height: 22px;
	width: 325px;
	overflow: hidden;
}
.label-div .news-view h1 {
	width: 580px;
}
.clearfix.t-15.pl-25 div.pull-left {
	width: 500px;
}
.topic-title h1 {
	width: 520px;
}
.clearfix.t-15 div.pull-left {
	width: 500px;
}
.topic-catalog .span6 {
	padding-right: 5px;
}
.topic-catalog .span6 ul.clearfix.pull-left.pl-40 {
	padding-left: 20px;
}
.topic-catalog .OF-label {
	margin-left: 20px;
	padding-left: 12px;
	padding-right: 11px;
}
.label-div-none .label-main .people-list ul li {
	padding-right: 15px;
	padding-left: 5px;
}
.label-main .video-list {
	width: 182px;
}
.classifyDIV {
	max-width: 515px;
	_width: 515px;
}
.label-public .span9{
	width: 505px;
}
.third-party {
	width: 480px;
}
/**************IE6兼容***************/
.navbar-inner {
	_width: 1020px;
	_height: 40px;
	_overflow: hidden;
}
.navbar  ul.nav li {
    _float: left;
}
.navbar  ul.nav li a {
	_color: #FFF;
    _float: left;
    _padding: 10px 20px;
    _margin: 0;
}



.navbar  ul.nav li a:hover{
 	 _background-color: #2885C8;
	}
.navbar ul.nav.login-none li.dropdown a b.caret {
	_display: none;
}
.navbar ul.nav.library-fun li a {
   	_padding: 5px 8px 2px;
    _background: #2E2E2E;
}
.navbar ul.nav.library-fun li.active a, .navbar ul.nav.library-fun li a:hover {
    _background: #666;
}
.navbar ul.nav li.dropdown.active a {
  _background-color: #2885C8;
  _color: #FFF;
}
.row.home-index .span13 {
	_width: 825px;
}
.row.home-index .span13, .row.home-index .span13 .span8 {
	_margin-left: 0px;
}
.row.home-index .span13 .span8 .label-div {
	_width: 483px;
	_overflow: hidden;
}
.row.home-index .span13 .span5 .label-div {
	_width: 288px;
	_overflow: hidden;
}.row.home-index .span13 .span5 .label-div .label-title span {
	_width: 170px;
}
.row.home-index .span3 {
	_width: 175px;
	_overflow: hidden;
}
.row.home-index .span3 img {
	_width: 175px;
	_display: block;
	_overflow: hidden;
}
.row.home-index .span3 .label-div img {
	_width: 143px;
	_display: block;
	_overflow: hidden;
}
.news-slides {
	_width: 468px;
	_height: 395px;
	_overflow: hidden;
}
.news-slides .slides-list .slides-css {
	_width: 468px;
	_height: 285px;
	_overflow: hidden;
	position: relative;
}
.news-slides .slides-list .slides-css img {
	_width: 468px;
	height: 285px;
	_overflow: hidden;
}
.news-slides .slides-list .slides-icon {
	position: absolute;
	_right: 5px;
	_bottom: 10px;
	_height: 12px;
}
.news-slides .slides-list .slides-icon {
	position: absolute;
	_top: 265px;
}
.label-div .label-main .news-list .span3 {
	width: 175px;
	overflow: hidden;
	_margin-left: 10px;
}
.label-div .label-main .news-list .span3 img {
	width: 175px;
	height: 135px;
	overflow: hidden;
	display: block;
}
.label-div .label-main .topic-list .span1, .label-div .label-main .group-list .span1 {
	width: 45px;
	overflow: hidden;
	_margin-left: 10px;
}
.label-div .label-main .topic-list .span1 img, .label-div .label-main .group-list .span1 img {
	width: 45px;
	height: 45px;
	overflow: hidden;
	display: block;
}
.label-main .video-list {
	_padding-bottom: 30px;
}
.label-main .video-list .video-img img {
	_width: 182px;
	_height: 111px;
	_overflow: hidden;
	_display: block;
}
.event-slides {
	_width: 468px;
	_height: 215px;
	_overflow: hidden;
}
.event-slides .slides-list-event .slides-css-event {
	_width: 468px;
	_height: 88px;
	_overflow: hidden;
	position: relative;
}
.event-slides .slides-list-event .slides-css-event img {
	_width: 468px;
	_height: 88px;
	_overflow: hidden;
}
.event-slides .slides-list-event .slides-icon-event {
	position: absolute;
	_top: 68px;
}
.classifySearch {position: relative;}
.classifySearch .search-input {_width: 200px;_position: absolute;_right: 0px;}
.label-div .label-main .event-div {
	_width: 445px;
	_overflow: hidden;
}
.label-div .label-main .event-index a img {
    _width: 430px;
    _height: 80px;
    _overflow: hidden;
}
.label-div-none .group-list .span1 {
	_width: 45px;
	_overflow: hidden;
	_margin-left: 10px;
}
.label-div-none .group-list .span1 img {
	_width: 45px;
    _height: 45px;
    _overflow: hidden;
}
.label-div-none .label-main .people-list ul li, .label-div .label-main .people-list ul li img {
	_width: 45px;
	_height: 45px;
	_overflow: hidden;
}
.group-view .span2 {
	_width: 110px;
	_overflow: hidden;
	_margin-left: 10px;
}
.group-view .offset2.intro {
	_padding-left: 20px;
}
.group-view .span2 img {
	_width: 110px;
	_height: 110px;
	_overflow: hidden;
}
.related-div .topic-list .span1 {
	_width: 45px;
	_overflow: hidden;
	_margin-left: 10px;
}
.related-div .topic-list .span1 img {
	_width: 45px;
    _height: 45px;
    _overflow: hidden;
	 
}

.mmbuttom{margin-bottom:15px; margin-bottom:15px \9;}

.label-div .label-main .topic-list .intro p {height:81px \9; _height:82px; overflow: hidden; line-height:25px;}

.label-div div.mmtop{_margin-top:5px;}

.fun_list .span1.border-r {
	_margin-left: 10px;
}
.row .span12 {
	_margin-left: 0;
	_width: 760px; 
	overflow: hidden;
}
.row .span12 .label-div.topic-hot .view-main .view-content .span3 {
	_width: 175px;
}
.row .span12 .label-div.topic-hot .view-main .view-content .span3 img {
	_width: 175px;
	_overflow: hidden;
}
.row .span12 .label-div.topic-hot .view-main .view-content .span4 {
	_width: 240px;
}
.row .span12 .label-div.topic-hot .view-main .view-content .span4 img {
	_width: 240px;
	_overflow: hidden;
}
.row .span12 .label-div.topic-hot .view-main .view-content .span5 {
	_width: 305px;
}
.row .span12 .label-div.topic-hot .view-main .view-content .span5 img {
	_width: 305px;
	_overflow: hidden;
}
.row .span12 .label-div.topic-hot .view-main .view-content .span6 {
	_width: 370px;
}
.row .span12 .label-div.topic-hot .view-main .view-content .span6 img {
	_width: 370px;
}
.row .span12 .label-div.topic-hot .view-main .view-content .span7 {
	_width: 435px;
	_overflow:hidden;
}
.row .span12 .label-div.topic-hot .view-main .view-content .span8 {
	_width: 500px;
}
.row .span4 {_width: 240px;float: left;}
.row .span4 img {_width: 225px;_overflow: hidden; }
.index-list .docu-top-right {width: 652px;}
.index-list-1 .docu-top-right {width: 280px;}
.index-list-1 .docu-top-right-1 {width: 308px;}
.docu-list, .images-list {
    width: 718px;
}
.docu-list .list-li {
   margin-right: 27px;
}
.docu-list .list-li:nth-child(5) {
   margin-right: 0;
}
.docu-list .list-li .title {
    _height: 40px;
    _line-height: 20px;
}
.name-css {max-width: 130px;_width: 130px;}
.index-top .span6 {_width: 370px;}
.index-top .span3 {_width: 175px;}
.pic-1 a img {height: 214px;_width: 360px;}
.pic-2 a img, .pic-3 a img {height: 102px;}
.pic-2 a img {_width: 175x;}
.pic-3 {_width: 87px;}
.pic-3 a img {_width: 82x;}
.video-divList .video-img img {width: 175px;}
.docu-div .docu-img.span2 {_margin-left: 10px;}
.collections-div .docu-img.span2, .collections-video-div .docu-img.span2, .video-divList.span3, .video-div .span2, .image-div .span2 {_margin-left: 10px;}
.collections-video-div .docu-img.span2 img, .video-div .span2 .video-img img, .image-div .span2 .docu-img img {_width: 110px; }
/******图片预览*******/
.image-view .view_middle .pic_main {width: 580px;}
.image-view .view_middle .pic_main .pic_main_div { width: 580px; }
.image-view .view_middle .pic_main .pic_img{width: 580px;}
.image-view .view_middle .pic_main .pic_img img{max-width: 580px;max-height: 480px;_width: 580px;_height: 480px;overflow: hidden;}
.image-view .view_middle .pic_main .pic_intro{width: 580px;padding-top: 40px;}
.mark_left, .mark_right {height: 420px;width: 290px;}
.mark_right {left: 290px;}
.image-view .view_middle .pic_thum{margin-right: 0px;}
.image-view .view_top .top_page {margin-left:220px;_margin-left:150px;}
.input-lib {_width: 400px;}
.images-list {height: 168px;_height: 166px;}
.videos-list {height: 160px;_height: 160px;}
.images-list .list-li, .videos-list .list-li {margin-right: 29px;}
.home-other a img {_width: 29px;_height: 29px;}
.home-other a {margin-right: 5px;_margin-right: 3px;}
.none-1020 {display: none;}
.input-lib input.span7 {width: 386px;}