@charset "utf-8";
/* CSS Document */

/*--------------------------所有页面翻页样式--------------------------*/
DIV.meneame {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 80%; PADDING-BOTTOM: 3px; MARGIN: 3px; COLOR: #036cb4; PADDING-TOP: 3px; TEXT-ALIGN: center
}
DIV.meneame A {
	BORDER-RIGHT: #eeeeee 1px solid; PADDING-RIGHT: 7px; BACKGROUND-POSITION: 50% bottom; BORDER-TOP:#eeeeee  1px solid; PADDING-LEFT: 7px; background:#FFFFFF; PADDING-BOTTOM: 5px; BORDER-LEFT: #eeeeee 1px solid; COLOR: #036cb4; MARGIN-RIGHT: 3px; PADDING-TOP: 5px; BORDER-BOTTOM: #eeeeee 1px solid; TEXT-DECORATION: none
}
DIV.meneame A:hover {
	BORDER-RIGHT: #eeeeee 1px solid; BORDER-TOP: #eeeeee 1px solid; background:#fff7f8; BORDER-LEFT: #eeeeee 1px solid; COLOR: #fffff2; BORDER-BOTTOM: #eeeeee 1px solid; BACKGROUND-COLOR:#036cb4;
}
DIV.meneame A:active {
	BORDER-RIGHT: #eeeeee 1px solid; BORDER-TOP: #eeeeee 1px solid; background:#fff7f8; BORDER-LEFT: #eeeeee 1px solid; COLOR: #b4e049; BORDER-BOTTOM: #eeeeee 1px solid; BACKGROUND-COLOR: #036cb4;
}
DIV.meneame SPAN.current {
	BORDER-RIGHT: #eeeeee 1px solid; PADDING-RIGHT: 7px; BORDER-TOP: #eeeeee 1px solid; PADDING-LEFT: 7px; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; BORDER-LEFT: #eeeeee 1px solid; COLOR: #666666; MARGIN-RIGHT: 3px; PADDING-TOP: 5px; BORDER-BOTTOM: #eeeeee 1px solid; BACKGROUND-COLOR: #036cb4
}
DIV.meneame SPAN.disabled {
	BORDER-RIGHT: #eeeeee 1px solid; PADDING-RIGHT: 7px; BORDER-TOP: #eeeeee 1px solid; PADDING-LEFT: 7px; PADDING-BOTTOM: 5px; BORDER-LEFT:#eeeeee 1px solid; COLOR: #036cb4; MARGIN-RIGHT: 3px; PADDING-TOP: 5px; BORDER-BOTTOM:#eeeeee 1px solid; background:#FFFFFF;
}
.about_t_down_fanye{ width:466px; height:42px; float: right; margin-top:40px; margin-bottom:40px;}