*+html{overflow:auto;}
.button-2 {behavior:url(js/PIE.htc); position:relative;} 
.button-1 {background:url(../images/button-1.png) 0 0 no-repeat #fafbfb; color:#fff; font-size:12px; line-height:15px; font-weight:bold; padding:6px 0px 9px 0px; text-align:center; width:109px; display:inline-block;}
.button-1:hover {background:url(../images/button-1.png) 0 bottom no-repeat #fafbfb; }
.soc-icons a:hover img  { filter:alpha(opacity=70); background:#d2dbdf;}