#item_info{background-color:#fff;padding-bottom:8px;border-bottom:1px solid #dedede}#item_show{width:100%;height:240px;line-height:240px;overflow:hidden;margin-bottom:4px}#item_show>img{display:block;margin:0 auto}#item_name,#item_price{line-height:28px;padding:0 14px}#item_name{font-size:16px;padding-bottom:12px}#item_price{vertical-align:middle}#item_discount{font-size:12px;color:#fff;padding:2px 4px;border-radius:2px;margin-left:-4px}#item_control,#item_seller{padding:10px 5px 15px}#control_wrap,#seller_wrap{padding:10px 10px 15px;background-color:#fff;border-radius:5px;box-shadow:0 1px 0 0 #d8d8d8}.control_tle{padding-bottom:6px}#show_controls_icon{width:5px;height:5px;border-top:2px solid #666;border-left:2px solid #666;top:7px;right:0;overflow:hidden;-webkit-transform:rotate(-135deg);-webkit-transition:-webkit-transform .2s ease-in}.show_controls_ed i{-webkit-transform:rotate(45deg) !important}.sku_li{margin-bottom:5px;display:block}.sku_li:last-child{margin-bottom:0}.sku_a{line-height:28px;border:1px solid #ceced0;background-color:#fafafa;border-radius:5px;padding:0 15px;display:inline-block}.current_sku{border-color:#ff5000}#control_title,#control_sku,#control_count,#seller_info{border-bottom:1px solid #e9e9e9;padding-bottom:14px;margin-bottom:14px}#control_sub,#control_num,#control_add,#control_stock{height:36px;line-height:36px}#control_sub,#control_add{width:30px;border-top:1px solid #e3e3e3;border-bottom:1px solid #e3e3e3;background:-webkit-gradient(linear,center top,center bottom,from(#fff),to(#eeefee));font-size:24px;cursor:pointer}#control_sub{border-left:1px solid #e3e3e3}#control_add{border-right:1px solid #e3e3e3}#control_num{width:60px;border:1px solid #e3e3e3}#control_stock{margin-left:10px;font-size:15px}#control_btn,#enter_shop{height:32px;line-height:32px}#my_cart,#add_cart,#buy_now,#enter_shop{border-radius:4px}#add_cart,#buy_now{color:#fff}#my_cart,#buy_now{width:32%}#my_cart{height:30px;line-height:30px}#my_cart,#enter_shop{top:0;left:0;box-shadow:0 -1px 0 0 #e6e6e6 inset;border:1px solid #bfbfbf}#add_cart{width:28%;box-shadow:0 -1px 0 0 #0077c9 inset}#buy_now{top:0;right:0;box-shadow:0 -1px 0 0 #d74300 inset}#enter_shop>img{vertical-align:text-bottom}#seller_info{height:50px}#seller_thumb{top:0;left:0;border:1px solid #eee}#seller_name{top:4px;font-size:15px}#seller_weixin{top:28px;font-size:13px;color:#5f646e;text-indent:25px;background-position:0 2px;background-repeat:no-repeat}#seller_name{width:100%;text-indent:65px}#seller_weixin{left:65px}#item_detail{padding:0 5px}#detail_wrap{border:1px solid #ddd;border-radius:5px;overflow:hidden}#detail_wrap>img{display:block}#detail_loading,#control_loading{height:200px}#noItemShow{height:300px;line-height:360px;background-image:url(../../images/common/404_icon.png);background-position:center;background-repeat:no-repeat;background-size:32px 33px}#iWantAShop{width:70%;margin:20px auto 10px;height:30px;line-height:30px;color:#ff5000;border:1px solid #ccc}#cps_wrap{background-color:#f5f5f5;width:100%;height:100%;z-index:101;top:0;left:0}#cps_inner{padding:10px}
.cps_btns{
	width:100%;
	height:45px;
	line-height:45px;
	color:#fff;
	font-size:16px;
	border-radius:3px;
	background-color:#dd2525;
	display:block
}
.border_wrap{
	padding:20px 15px;
	margin-bottom:10px;
	background-color:#fff;
	border-radius:3px;
	border:1px solid #dcdcdc;
}
#cps_tele{
	width:100%;
	height:40px;
	line-height:40px;
	margin:10px 0;
	font-size:14px;
	text-indent:10px;
	border:1px solid #e1e1e1;
	background-color:#f6f6f6;
	border-radius:0;
	-webkit-appearance: none;	
}
.cps_tip{
	font-size:12px;
	line-height:16px;
	color:#b6b6b6;
	margin-bottom:4px;
}
.cps_tip_icon{
	width:16px;
	height:16px;
	background-color:#b6b6b6;
	color:#fff;
	text-align:center;
	border-radius:16px;
}
#cps_icon{
	width:100%;
	height:100%;
	background:url(../../images/item/cps_icon.png) right top no-repeat rgba(0,0,0,.8);
	background-size:290px;
	display:none;
	position:fixed;
	top:0;
	left:0;
	z-index:102;
}
#share_for_money{
	padding:4px 6px;
	background:-webkit-linear-gradient(top,#f6f7f7,#e7e7e7);
	background:-webkit-gradient(linear,center top,center bottom,from(#f6f7f7), to(#e7e7e7));
	border-radius:3px;
	border:1px solid #e8e9e9;
	right:10px;
	bottom:8px;
}
#share_for_money_icon{
	width:14px;
	height:14px;
	line-height:14px;
	color:#fff;
	background-color:#f6511e;
	border-radius:14px;
}
#item_price,#express_money_show{
	display:inline-block;
	line-height:20px;
}
#showBigImg{
	width:100%;
	height:100%;
	background-color:#000;
	display:none;
	position:fixed;
	overflow:scroll;
	top:0;
	left:0;
	z-index:103;
}
#showBigImg_i{
	width:100%;
	display:block;
}
#showBigImg_closeWrap{
	background-color:rgba(0,0,0,.8);
	width:40px;
	height:40px;
	border-radius:40px;
	position:fixed;
	top:5px;
	right:5px;
}
#showBigImg_closeWrap_a,#showBigImg_closeWrap_b{
	width:2px;
	height:24px;
	background-color:#fff;
	position:absolute;
	top:8px;
	left:19px;
}
#showBigImg_closeWrap_a{
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg);
}
#showBigImg_closeWrap_b{
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	transform:rotate(-45deg);
}