/*框架颜色*/
body{ background:#fff}

/*---------头部列表框架-------*/

/*头部颜色*/
.header{
	background:-moz-linear-gradient(top,#814596,#70377e);
	background:-ms-linear-gradient(top,#814596,#70377e);
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#814596), to(#70377e));
}

/*列表样式*/
.list-content a{border-bottom:1px solid #ccc; background: linear-gradient(#FDFDFD, #EEEEEE) repeat scroll 0 0 #EEEEEE; color:#333;}

/*----------侧边栏内容颜色---------------*/
.sidebar a{ 
	background:-moz-linear-gradient(top,#434343,#333);
	background:-ms-linear-gradient(top,#434343,#333);
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#434343), to(#333));

}


/*-------内容页框架--------*/
.content a{ color:#000;}

/*按钮颜色*/
.button a.prve{ 
	background:-moz-linear-gradient(top,#525252,#363636);
	background:-ms-linear-gradient(top,#525252,#363636);
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#525252), to(#363636));
	color:#fff;
	border:1px solid #232323;
	box-shadow:0px 0px 1px #333;
	text-shadow:1px -1px 1px #000;	
}
.button a.next{ 
	background:-moz-linear-gradient(top,#5f98c5,#3a6c9d);
	background:-ms-linear-gradient(top,#5f98c5,#3a6c9d);
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#5f98c5), to(#3a6c9d));
	color:#fff;
	border:1px solid #2d4961;
	box-shadow:0px 0px 1px #333;
	text-shadow:1px -1px 1px #59738c;	

}

.footer-top{ background:#fff;}