
/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */
/*===================
    ERROR STYLES
    ===============*/
body {
    background-color: #E2E2E2;

}
.set-pad {
    padding-top:120px;
}
.error-txt {
    font-size:50px;
    display:block;
    padding-bottom:10px;
}
.p-err {
    font-size:20px;
    padding:20px;
}
.c-err {
    background-color:#62abb2;
    padding:30px 0px 0px 0px;
    margin:20px 0px;
}