* {
	padding:0; margin:0;
}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0}
body{ font-size:17px;font-family:'Microsoft Yahei','Simsun'; color:#c3996b; line-height:150%;-webkit-text-size-adjust: none; background-color:#000000}
h1,h2,h3,h4,h5,h6{font-size:100%}
address,cite,dfn,em,var,i{font-style:normal}
code,kbd,pre,samp{font-family:courier new,courier,monospace}
form{display:inline}
small{font-size:12px}
ul,ol{list-style:none}
.clear{ clear:both}
.clear10{ clear:both; margin:8px auto;}
a{text-decoration:none;color:#c3996b}
a:hover, a:active, a:focus{color:#feebbf;text-decoration: none;}
a:active{color:#aaa;}
img{vertical-align:middle;border:0;-ms-interpolation-mode:bicubic}
button,input,select,textarea{font-size:100%; vertical-align:middle;outline:none;-webkit-appearance:none;}
table{border-collapse:collapse;border-spacing:0}
textarea{resize:none}
.title{ background:url(../images/titlebg.gif);height:36px; line-height:36px; width:100%; margin:0 auto;}
.title1{ color:#0099FF; font-weight:bold;}

.title span{display:block; width:300px; margin:0 auto; padding-left:5px; height:36px; line-height:36px; color:#feebbf; }

.titlefl{ height:36px; line-height:36px; width:100%; margin:0 auto;}
.titlefl span{display:block; width:300px; margin:5px auto; padding-left:5px; color:#feebbf; text-align:center}
.titlefl span a{ padding:2px 5px; margin-right:5px; background-color:#606060; color:#ababab}



.pic{ width:310px; height:214px; margin:0 auto; background:url(../images/tuli.gif) no-repeat center top}
.content{ width:310px; margin:0 auto; overflow:hidden}
.content ul{ width:300px; margin:0 auto; padding:5px 0;}
.content ul li{ list-style:none; line-height:200%; border-bottom:1px inset #606060; background:url(../images/libg.gif) left center no-repeat; text-indent:0.5em;}
.content a{ color:#c3996b}
.content a:hover{color:#feebbf}

.content img{ float:left; margin:5px 10px 0 0}

.content0{ width:310px; margin:0 auto; overflow:hidden}
.content0 img{ width:100%; margin:5px 0;}
.content0 p{ text-indent:2em; margin-bottom:10px;}


.content2{ width:310px; margin:0 auto; overflow:hidden}
.content2 ul{ width:300px; margin:0 auto;}
.content2 ul li{ width:148px; float:left;text-align:center;}
.content2 ul a{ padding:5px; border:1px solid #cccccc; display:block; width:130px; margin:5px 0}
.content2 ul a:hover{ padding:5px; border:1px solid #38a200; display:block; width:130px;}
.content2 ul li img{ width:100%;}

.content3{ width:310px; margin:0 auto; overflow:hidden}
.c3left{width:120px; float:left;}
.c3right{ width:190px; float:left}
.c3right p{line-height:40px; height:120px;}


.content4{ width:310px; margin:0 auto; overflow:hidden}
.content4 ul{ width:300px; margin:0 auto;}
.content4 ul li{ width:300px; text-align:center;}
.content4 ul a{ padding:5px; border:1px solid #cccccc; display:block; width:290px; margin:5px 0}
.content4 ul a:hover{ padding:5px; border:1px solid #38a200; display:block; width:290px;}
.content4 ul li img{ width:100%;}



.more {width:320px; margin:5px auto; text-align:center;}
.more a{ background-color:#505050; width:300px; height:32px; line-height:32px; display:block;-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius:10px; margin-left:10px; color:#a1a1a1;
}
.ad{ background-color:#0050b8; width:100%; margin:0 auto;}
.ad span{width:310px; margin:0 auto; display:block; text-align:center}



#logo{text-align:center; background-color:#000000}
#nav{ background-color:#38a200; height:43px;}
#nav ul { width:320px; text-align:left; margin:0 auto 0;}
#nav ul li{ float:left; list-style:none;text-align:center; height:43px; line-height:43px; font-size:20px}
#nav ul li a{color:#ffffff; text-decoration:none; font-weight:bold; height:43px; line-height:43px; display:block; width:63px; margin-right:1px;}
#nav ul li a:hover{color:#333333; text-decoration:none;background:url(../images/on.gif) center repeat-x; height:43px; line-height:43px;}
#homeScreen{ width:100%; height:200px;margin:0 auto; overflow:hidden}
#mask{width:320px;height:180px;position:relative;overflow:hidden;margin:0 auto;}
#allScreens{height:100%;top:0;left:0;position:absolute;cursor:move;}
.screen{width:320px;float:left;}
#dock .dockicon,.screen .icon{float:left;width:320px;height:180px;background-repeat:no-repeat;position:relative;}
#dock .dockicon:after{border-radius:50px/10px;bottom:7px;box-shadow:0 5px 2px #000000;content:"";height:1px;position:absolute;width:58px;}
#indicators{text-align:center;list-style:none;}
#indicators li{border-radius:50%;display:inline-block;margin:7px;width:6px;height:6px;background-color:white;opacity:0.6;}
#indicators li.active{opacity:1;background-color:#00A2D6;box-shadow:0 0 3px #00A2D6, 0 0 1px #51CFF9 inset;}
.selected a{ background:url(../images/on.gif) center repeat-x; width:48px; height:48px; display:block; color:#484848}

#webnav{text-align:left; text-indent:1em; padding-bottom:4px; border-bottom:1px solid #ccc}
.posi{ margin:0 auto; width:100%}

.title22{ width:99%; margin:10px auto; color:#feebbf;}
.title2{ width:100%; margin:10px auto; color:#feebbf; text-align:center; border-bottom:1px solid #606060; padding-bottom:10px; font-size:20px; font-weight:bold}
.detail{ width:99%; margin:0 auto; margin-bottom:10px;}
.detailnei{width:99%; margin:10px auto}
.detailnei p{text-indent:0}
.detail img{width:99%; display:block; margin:0 auto;}
.general{ width:315px; margin:0 auto; line-height:200%}

.detail2{  width:100%; margin:0 auto; margin-bottom:10px;}
.detail2 img{width:100%; display:block; margin:5px auto;}



#form100{ border:none;padding:0px; width:300px; margin:10px auto; display:block}
#huifu{width:300px; height:80px; margin:0 auto; border:1px solid #ccc; color:#000000; scrollbar-face-color:#DEDEDE;
scrollbar-base-color:#F5F5F5;
scrollbar-arrow-color:black;
scrollbar-track-color:#F5F5F5;
scrollbar-shadow-color:#EBF5FF;
scrollbar-highlight-color:#F5F5F5;
scrollbar-3dlight-color:#C3C3C3;
scrollbar-darkshadow-Color:#9D9D9D;
}
#olname{ width:300px; display:block; margin:5px 0;border:1px solid #ccc;color:#feebbf; height:26px; line-height:26px;}
#submit100{ width:100px; height:26px; border:1px solid #ccc; background-color:#c3996b; color:#303030; margin:0 auto; display:block; line-height:22px}


.ol_huifu ul li{ list-style-type:none; border:1px solid #c4c7d0; text-align:center; margin-bottom:10px; padding:8px 0;}
.ol_huifu ul li p{text-align:left; width:96%}
.ol_huifu ul li span{color:#feebbf}

.ol_huifu .lymz{ border-bottom:1px solid #c4c7d0}

.ol_huifu .arrow{background:url(../images/ol_arrow.gif) no-repeat top left; height:6px; overflow:hidden}
.ol_huifu .hfnr{ background-color:#c3996b;}
.content4{ width:310px; margin:0 auto; overflow:hidden}
.content4 ul{ width:300px; margin:0 auto;}
.content4 ul li{ width:300px; text-align:center;}
.content4 ul a{ padding:5px; border:1px solid #606060; display:block; width:290px; margin:5px 0}
.content4 ul a:hover{ padding:5px; border:1px solid #505050; display:block; width:290px;}
.content4 ul li img{ width:100%;}



.foot{ height:64px; padding:5px; background:url(../images/foot2.gif) center}
.quick{ background:url(../images/quickbg.gif) repeat-x; height:33px; line-height:33px; border:1px solid #bababa; width:310px; margin:0 auto;}
.quick a{color:#333333}
.quick span{width:79px; text-align:center; height:33px; line-height:33px; border-right:1px solid #bababa; float:left; display:block; margin:0 auto; }
.quick .uptop{border:none; display:block; text-align:center; width:35px;}
.quick .uptop a{ background:url(../images/top.png) no-repeat center; width:33px; height:33px; display:block; margin:0 auto; text-align:center}
.quick .tel{ border-left:none; display:block; text-align:center; margin:0 auto; width:34px}
.quick .tel a{ background:url(../images/tel.gif) no-repeat center; width:33px; height:33px; display:block; margin:0 auto;}
.copy p { width:310px; margin:0 auto; line-height:200%; text-align:center; color:#ffffff;}
.copy a{ text-decoration:underline; color:#cccccc}

.gxianfeng{ background:url(../images/foot.gif) repeat-x; line-height:200%; text-align:center; color:#000000; display:block}