/* Global properties ======================================================== */
html, body {width:100%; padding:0; margin:0;}

body { 	 
	font: 13px/25px Arial, Helvetica, sans-serif;
	color:#484848;
	min-width:1080px;
	font-style:italic;
	background: #fff;
}
.ic {border:0;float:right;background:#fff;color:#f00;width:50%;line-height:10px;font-size:10px;margin:-220% 0 0 0;overflow:hidden;padding:0}
/***********************************************************************/
a {text-decoration:none; cursor:pointer;text-decoration:none; }
a:hover {text-decoration:none;}

.button {background:url(../images/button.png) 0 0 no-repeat; color:#000; font-size:24px; line-height:30px; display:inline-block; padding: 2px 0 5px 43px;}
.button:hover {color:#579700;}

.link {color:#ff9000; text-decoration:none; }
.link:hover {text-decoration:underline;}

.link-2 {font-family: 'Lato', sans-serif; font-weight:300; font-style:italic; color:#ff9000; font-size:20px; line-height:25px; text-decoration:none; }
.link-2:hover {text-decoration:underline;}

.clr-1 { color:#ff9000;}

.text-1 {font-weight:normal; color:#000; font-size:60px; line-height:72px;}
.text-1 strong {font-weight:normal; margin-top:-32px; display:block;}
.text-2 {font-family: 'Lato', sans-serif; font-weight:300; font-style:italic; color:#484848; font-size:21px; line-height:35px;}

.text-3 {font-weight:normal; color:#484848; font-size:50px; line-height:60px;}
.text-3 span {color:#ff9000;}
.text-4 {font-family: 'Lato', sans-serif; font-weight:300; font-style:italic; color:#484848; font-size:30px; line-height:36px; letter-spacing:-1px;}

h2 { font-size:31px; line-height:40px; color:#000; font-weight:normal; }

ul {margin:0; padding:0;list-style-image:none;}
ul.list-1 li {padding:0px 0 0px 25px; line-height:25px; background:url(../images/marker.png) 0 5px no-repeat;}
ul.list-1 li a {color:#484848;}
ul.list-1 li a:hover {color:#457c00;}

/******************************************************************/
.clear {clear:both; line-height:0; font-size:0; width:100%;}
.wrapper {width:100%; overflow:hidden; position:relative}
.wrap {overflow:hidden; position:relative}
.extra-wrap {overflow:hidden;}
.fleft {float:left;}
.fright {float:right;}
.img-indent {float:left; margin:4px 18px 0px 0;}	
.line-height {line-height:18px;}
.last {margin-right:0px !important; padding-right:0px !important;}

.top {padding-top:37px;}
.top-1 {margin-top:30px;}
.top-2 {margin-top:10px;}
.top-3 {margin-top:12px;}
.top-4 {margin-top:14px;}
.top-5 {margin-top:8px !important;}
.top-6 {margin-top:13px;}
.top-7 {margin-top:34px;}

.left-1 { margin-left:13px;}

.right-1 {margin-right:40px;}

.bot-0 {padding-bottom:0 !important; margin-bottom:0 !important;}

.pad-1 {margin-top:44px; margin-bottom:33px;}

.p1 {padding-bottom:25px;}
.p2 {padding-bottom:13px;}
.p3 {padding-bottom:10px;}
.p4 {padding-bottom:17px;}
.p5 {padding-bottom:12px;}

/*********************************header*************************************/
header{ width:100%; background:url(../images/header-bg.jpg) 0 0 repeat; border-bottom:#fff 1px solid;}
header>div {width:100%; background:url(../images/header-bg-shadow.png) 0 bottom repeat-x; padding-bottom:17px;}
header>div>div {width:960px; margin:0 auto;}
h1 {display:inline-block; z-index:1111; margin:16px 0px 0 10px; position:relative; float:left;}

nav {display:inline-block; z-index:1111; position:relative; float:right;}


ul.menu {margin:28px 10px 0px 0px; display:inline-block;}
ul.menu li {float:left; line-height:30px; margin:0px 0px 0px 48px;}
ul.menu li:hover, ul.menu li.current {}
ul.menu li a {font-size:25px; line-height:30px; color:#f2f2f2; display:inline-block; }
ul.menu li a:hover , ul.menu li.current a { color:#ff9000; }

/*********************************content*************************************/
#content {width:100%;padding:0px 0px 48px 0; background:#f2f2f2;}

.img-border {border:#fff 8px solid;}

.box-1 {overflow:hidden; padding:40px 0 34px;}
.box-1 img {float:left; margin-top:-3px;}
.box-1 h2 {margin-bottom:8px;}

.box-2 {background: url(../images/line-1.gif) 0 0 repeat-x #f6f6f6;}
.box-2>div {background: url(../images/line-1.gif) 0 bottom repeat-x; padding:15px 0 36px 0; text-align:center;}
.box-2>div p.text-4 {margin-top:-7px;}

.box-3 {overflow:hidden; padding:12px 0 0 0;}
.box-3>div { width:180px; float:left; margin-right:25px;}
.box-3>div a.link-2 {display:inline-block; margin:15px 0 6px 0;}

.box-4 {}
.date {overflow:hidden;}
.date strong {display:inline-block; background:url(../images/date.png) 0 0 no-repeat; width:51px; height:53px; float:left; margin-right:5px;font-weight:normal; color:#000; font-size:40px; line-height:48px; text-align:center;}
.date span {font-family: 'Lato', sans-serif; font-weight:300; font-style:italic; color:#000; font-size:20px; line-height:24px; display:inline-block; overflow:hidden; margin-top:21px;}

.box-5 {overflow:hidden; padding-top:8px;}
.box-5 img {margin:4px 10px 0 0;}

.box-6 {overflow:hidden; margin-top:13px;}
.box-6>div { width:290px; float:left; margin-right:35px;}
.box-6 a.link-2 {display:inline-block; margin-bottom:3px;}

.box-7 {overflow:hidden; margin-top:10px;}
.box-7>div { width:290px; float:left; margin-right:35px;}
.box-7 a.link-2 {display:inline-block; margin-bottom:3px;}

/****************************footer************************/
footer {width:950px; overflow:hidden; margin:0 auto; padding:31px 0px 20px 0; }
footer p {float:left; text-align:center; width:580px; }
.soc-icons {overflow:hidden; float:right; margin:8px 73px 0 0;}
.soc-icons span {display:inline-block; float:left;  color:#000; font-size:20px; line-height:27px; margin-right:17px;}
.soc-icons a {display:inline-block; float:left; margin-right:19px;}
.soc-icons a:hover img {opacity:0.7;}

/**********************form**********************/
.map {width:572px; height:235px; margin:12px 0 15px 0;}
.map iframe {width:572px; height:235px;}

#form { margin: 12px 0 0px 0px; width:300px; }
#form input {border:#fff 1px solid; background:#fff;font: 13px Arial, Helvetica, sans-serif;color:#b6b6b6; font-style:italic; padding:5px 9px 6px 18px;outline: medium none;width: 271px; height:17px; float:left;}
#form textarea {border:#fff 1px solid; background:#fff;font: 13px Arial, Helvetica, sans-serif;color:#b6b6b6; font-style:italic;  height: 268px;outline: medium none;overflow: auto;padding: 6px 0px 0px 18px;width: 281px;resize:none;margin:0px 0 0 0;float:left;}
#form label {position:relative;overflow:hidden;display: block;min-height:35px;}
.btns {text-align:left; width:300px; padding-top:15px;}
.btns a {display:inline-block; margin:0 4px 0 20px;}