html { overflow-x: hidden; overflow-y: auto;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
body{ background:#fff; color:#111; font-size:12px; FONT-FAMILY: "宋体";}
img{ border:none;}
h1{ font-size:18px; font-weight:normal; font-weight:bold; color:#0078dc; line-height:0.8em;}
h2{ font-size:14px; font-weight:normal; line-height:1.5em;}
h3{ font-size:14px; font-weight:normal; color:#333; font-weight:bold;}
h5{ font-size:12px; font-weight:normal; color:#333;}
ul,li{ list-style:none; }

a{ color:#333; text-decoration:none;}
a:hover {COLOR: #0066FF; cursor:pointer}
.clear{ clear:both;}
.sbox{ width:320px; margin:0 auto;}

.top{ margin-top:10px; text-align:center;}

.logo{ background:url(../images/logo.gif) no-repeat; margin-top:10px;  height:40px; text-align:right; width:300px;margin-bottom:5px; }

.nav{ width:309px; height:55px; padding:7px 0 0 11px; margin-bottom:5px; background:url(../images/nav_bg.gif) no-repeat; overflow:hidden;}
.nav ul li{ float:left; margin:0 9px 2px 0;}
.nav ul li a{ color:#fff; display:block; width:68px; line-height:24px; text-align:center; height:24px;}
.nav ul li a:hover{ background:url(../images/nav.gif) no-repeat;}
.banner{ width:300px; height:160px; overflow:hidden;}
.dianhua{ width:300px; height:36px; overflow:hidden;}

.zxrx{ overflow:hidden; height:34px; margin-bottom:7px; margin-top:5px;}

.title{ background:url("../images/title.jpg"); width:320px; height:36px; line-height:37px; font-size:14px; font-weight:bold; text-indent:20px;}

.tit{ background:url("../images/title.jpg"); width:310px; height:36px; line-height:37px; font-size:14px; font-weight:bold; text-indent:20px; text-align:right; padding-right:10px;}
.tit span{ float:left; }

.zycon{ width:260px; height:auto; }
.zycon p{ width:260px; text-align:right; height:30px; line-height:30px;}
.zycon p span{ float:left;}

.zycolor{ color:#f00;}
.zycolor a{ color:#f00;}

.zy_con{ width:270px; height:100px; margin-bottom:10px; padding:0 25px; padding-top:7px; background:#fff url(../images/zy_list.gif) no-repeat 25px 0;}

.zy_con ul li{ height:23px; border-bottom:1px solid #ddd; line-height:24px; overflow:hidden; text-indent:19px; background:url(../images/zy_list_zx.gif) no-repeat right; text-align:right;}
.zy_con ul li span{ float:left; display:block;}
.zy_con ul li a{ color:#656565;}
.zy_con ul li img{ margin-top:2px;}

.sssbcon{ width:290px; height:auto; padding:10px 0 0px 10px; overflow:hidden;}
.sssbcon p{ float:left; margin-right:12px;}
.sssbcon p span{ display:block; width:133px; height:22px; line-height:22px; margin-bottom:3px; text-align:center;}

.xyhj{ width:300px; height:auto; margin-bottom:5px; padding:16px 0 0 20px; overflow:hidden;}
.xyhj ul li{ float:left; width:128px; margin-right:13px; padding:5px 0 0 5px; height:auto; background:url(../images/xyhj_bg.gif) no-repeat; overflow:hidden;}
.xyhj ul li p{ width:123px; height:28px; line-height:28px; text-align:center;}

.news_list{ width:290px; padding:10px 5px 5px 5px; background:url('../images/news_list.jpg') repeat-x;}
.news_list img{ float:left; margin-right:5px;}
.news_list h1{ font-size:12px; height:18px; line-height:18px;}
.news_list p{ font-size:12px; line-height:20px; color:#666;}
.news_list .ck_con{ display:block; background:url("../images/ck_list.jpg") no-repeat 225px 5px; line-height:20px; width:295px; text-indent:240px;}

.dy_list_con{ width:290px; height:auto; padding:0px 0 5px 5px; background:url('../images/news_list.jpg') repeat-x; overflow:hidden;}
.dy_list_con h1{ font-size:14px; line-height:35px; font-weight:400; color:#000;}
.dy_list_con p{ float:left; margin-right:7px;}
.dy_list_con p span{ display:block; width:89px; height:22px; line-height:22px; margin-bottom:3px; text-align:center;}
.dy_list_con .ck_con{ display:block; background:url("../images/ck_list.jpg") no-repeat 225px 9px; line-height:30px; width:295px; text-indent:240px;}

.jycon{ width:284px; height:auto; padding:8px;}
.jycon ul li{ font-size:12px; height:22px; line-height:22px;}

.lycon{ width:270px; height:auto; padding:5px 15px;}
.lycon ul li{ line-height:30px; height:30px;}

.zxcon{ width:300px; height:36px; overflow:hidden;}

.pages{ width:260px; padding-left:40px; height:35px; line-height:40px; background:url(../images/news_list.jpg) repeat-x;}
.pages ul li{ float:left; margin-right:10px;}

.jycon{ width:280px; padding-left:20px;}
.jycon ul li{ background:url("../images/jy_list.jpg") no-repeat 0 10px; height:25px; line-height:25px; text-indent:13px;}
.list_bs{ color:#309BC9;}
.list_bs a{ color:#309BC9;}

.news_con{ width:300px;}
.news_con h1{color:#0000FF; font-size:14px; text-align:center; line-height:35px;}
.news_con p{ line-height:25px; margin-bottom:5px;}

.rdht{ margin-top:5px; margin-bottom:5px;}
.rdht ul li{ float:left; margin:5px;}
.rdht ul li p{ text-align:center; width:150px; line-height:25px; height:25px;}

.xxwx{ text-align:center;}
.xxwx p{ margin-bottom:15px; line-height:20px;}
.xxwx p a{ color:#0000FF;}

.baoming{ margin:0 auto; width:270px; padding:15px 10px;}
.baoming p{ height:30px; line-height:30px;}

.zx_btm{ height:51px; overflow:hidden;}

.xxjj{ width:280px; height:auto;}
.xxjj p{ line-height:25px; text-indent:2em; width:264px; margin:0 auto; color:#666;}
.xxjj_img{ width:274px; height:108px; margin:10px auto; background:url(../images/xxjj_bg.gif) no-repeat; padding:5px 0 0 5px; overflow:hidden;}

.jy_title{ width:270px; padding:0 25px; height:35px; line-height:35px; background:url(../images/title_bg.gif) repeat-x;}
.jy_title h1{line-height:35px; color:#303435; font-size:14px; font-family:"微软雅黑"; text-align:center}

.footer{ text-align:center; width:300px; height:auto; padding:10px 0 10px 0;}
.footer p{ line-height:20px;}


/* banner特效样式 */
.box-163css{ width:300px; height:150px; overflow:hidden; position:relative; margin:5px auto; position:relative;}
.swipe{ overflow:hidden; visibility:visible; list-style: none; position: relative; width:300px;}
.piclist{ -webkit-transition: left 600ms ease-out; width:2232px; left:0;}
.piclist li{display:table-cell; width:300px; height: 182px; position:relative; float: left; vertical-align: top;}

.page{ position:absolute; left:10px; top:125px;}
.page a{margin:0 5px; display:block; color:#000; width:15px; height:15px; line-height:15px; text-align:center; background:#fff; border:1px solid #333; float:left; font-size:12px; filter:alpha(opacity=70); /*IE婊ら*/-moz-opacity:0.7; /*Firefox绉*/opacity:0.7;/*朵*/}
.page a.active{color:#fff; background:#000; }