/*.socials a, .box img, .div-tabs img
{
	behavior:url(js/PIE.htc);
	position: relative;
}

.price, .block1 .price strong
{
	behavior:url(js/PIE.htc);
}*/

#form .invalid .error-message, 
#form .empty .empty-message {
	display: block;

}

#form .error-message, 
#form .empty-message {
	display: none;
}


a.gal:hover img{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=20);
}

.bt-menu ul {
	display: none;
}

.bt-menu-open ul{
	display: block !important;
}

#grid .title{
	background-color: #fff;
	padding-bottom: 80px;
}

#grid  a:hover .title {
	padding-bottom: 20px;;