
.block1 {
	overflow: hidden;
}

.block1.blur img {
	margin-left: 1px;
}

.hours .title {
	top: 45px;
	left: 12px !important;
}

.bt-menu-trigger span:before {
	top: -7px;
}

.bt-menu-trigger span:after {
	bottom: -7px;
}

.bt-menu-open span {
	margin-top: -4px;
}

.bt-menu-open .bt-menu-trigger span:before {
	top: -12px;
	height: 7px !important;
}

.bt-menu-open .bt-menu-trigger span:after {
	bottom: -12px;
	height: 7px !important;
}


#form .invalid .error-message, #form .empty .empty-message {
	display: block;
}

#form .error-message, #form .empty-message {
	display: none;
}

.card-back {
	display: none !important;
}

.a_content  li:hover .card-back {
	display: block !important;
}