
.btn {
	BORDER-BOTTOM: #cccccc 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #cccccc 1px solid; PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #fcfcfc; MARGIN: 15px 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: block; COLOR: #222; FONT-SIZE: 15px; BORDER-TOP: #cccccc 1px solid; CURSOR: pointer; FONT-WEIGHT: bold; BORDER-RIGHT: #cccccc 1px solid; TEXT-DECORATION: none; PADDING-TOP: 10px; -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3); box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3); border-radius: 5px
}
.icons {
	POSITION: relative; WIDTH: 25px; HEIGHT: 25px; OVERFLOW: hidden; border-radius: 5px
}
.arrow-r.icons {
	WIDTH: 12px; BACKGROUND: url(../../t2.qpic.cn/mblogpic/0554ea3ff3100778dbea/2000) no-repeat center center; HEIGHT: 16px; background-size: 100%
}
#activity-detail .page-bizinfo .header #activity-name {
	WORD-WRAP: break-word; COLOR: #000; FONT-SIZE: 20px; WORD-BREAK: normal; FONT-WEIGHT: bold
}
#activity-detail .page-bizinfo .header #vvvv {
	WORD-WRAP: break-word; COLOR: #000;  line-height:220%; FONT-SIZE: 14px; FLOAT: right; WORD-BREAK: normal; FONT-WEIGHT: bold
}
#activity-detail .page-bizinfo .header #post-date {
	MARGIN: 0px; line-height:220%; COLOR: #8c8c8c; FONT-SIZE: 14px
}
#activity-detail .page-bizinfo .btn#biz-link {
	BORDER-BOTTOM: medium none; POSITION: relative; TEXT-ALIGN: left; BORDER-LEFT: medium none; PADDING-BOTTOM: 12px; PADDING-LEFT: 62px; PADDING-RIGHT: 12px; BACKGROUND: url(../../t2.qpic.cn/mblogpic/426c637092f06ffde172/2000) no-repeat center center; HEIGHT: 42px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 12px; box-shadow: none; border-radius: 0; background-size: 100% 100%
}
#activity-detail .page-bizinfo .btn#biz-link .arrow {
	POSITION: absolute; TOP: 25px; RIGHT: 15px
}
#activity-detail .page-bizinfo .btn#biz-link .logo {
	POSITION: absolute; PADDING-BOTTOM: 6px; PADDING-LEFT: 6px; WIDTH: 42px; PADDING-RIGHT: 6px; HEIGHT: 42px; OVERFLOW: hidden; TOP: 6px; PADDING-TOP: 6px; LEFT: 5px
}
#activity-detail .page-bizinfo .btn#biz-link .logo IMG {
	Z-INDEX: 10; POSITION: relative; WIDTH: 42px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px
}
#activity-detail .page-bizinfo .btn#biz-link .logo .circle {
	Z-INDEX: 100; POSITION: absolute; WIDTH: 54px; BACKGROUND: url(../../t2.qpic.cn/mblogpic/9d348430a143c680b1e4/2000) no-repeat center center; HEIGHT: 54px; TOP: 0px; LEFT: 0px; background-size: 100% 100%
}
#activity-detail .page-bizinfo .btn#biz-link #nickname {
	COLOR: #454545; FONT-SIZE: 18px; text-shadow: 0 1px 1px white
}
#activity-detail .page-bizinfo .btn#biz-link #weixinid {
	LINE-HEIGHT: 20px; COLOR: #a3a3a3; FONT-SIZE: 14px; text-shadow: 0 1px 1px white
}
#activity-detail .page-content {
	MARGIN: 18px 0px
}
#activity-detail .page-content .media {
	MARGIN: 18px 0px
}
#activity-detail .page-content .media IMG {
	WIDTH: 100%
}
#activity-detail .page-content .text IMG {
	WIDTH: 100%
}
#activity-detail .page-content .text {
	LINE-HEIGHT: 20px; COLOR: #3e3e3e; FONT-SIZE: 12px; WORD-BREAK: normal
}
#activity-list .header {
	FONT-SIZE: 20px
}
#activity-list .page-list {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; MARGIN: 18px 0px; OVERFLOW: hidden; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; border-radius: 5px
}
#activity-list .page-list .btn.line {
	TEXT-ALIGN: left; MARGIN: 0px; border-radius: 0
}
#activity-list .page-list .btn.line .checkbox {
	POSITION: relative; LINE-HEIGHT: 25px; PADDING-LEFT: 35px; HEIGHT: 25px
}
#activity-list .page-list .btn.line .checkbox .icons {
	POSITION: absolute; BACKGROUND-COLOR: #ccc; TOP: 0px; LEFT: 0px
}
#activity-list .page-list .off.btn.line .icons {
	BACKGROUND-IMAGE: none
}
#activity-list .btn#save {
	
}
