.picshow {
 WIDTH: 625px; HEIGHT: 507px; overflow:hidden; float:left;}

#picarea {
	MARGIN: 0px auto; WIDTH: 625px; BACKGROUND: #fff; HEIGHT: 507px
}
#bigpicarea {
	POSITION: relative; MARGIN: 0px auto; WIDTH: 625px; HEIGHT: 482px; OVERFLOW: hidden
}
.image {
	TEXT-ALIGN: center
}
.image IMG {
MARGIN: 0px auto;
}
#bigpicarea .word {
	TEXT-ALIGN: center; HEIGHT: 50px; COLOR: #333
}
#bigpicarea .word H3 {
	TEXT-ALIGN: center; LINE-HEIGHT: 48px; HEIGHT: 48px; COLOR: #333; FONT-SIZE: 14px
}
#bigpicarea .ui-els-hide {
	DISPLAY: none
}
#thumbs {
	LIST-STYLE-TYPE: none; MARGIN: 0px auto; WIDTH: 625px; HEIGHT: 110px
}
* HTML #thumbs {
	HEIGHT: 100%
}
#thumbs LI {
	MARGIN: 0px 7px; WIDTH: 90px; DISPLAY: inline; FLOAT: left; HEIGHT: 60px
}
#thumbs UL {
	MARGIN-TOP: 3px
}
#thumbs LI.last_img {
	MARGIN-RIGHT: 4px
}
#thumbs LI.first {
	MARGIN: 25px 10px 0px 15px; WIDTH: 9px; HEIGHT: 16px; CURSOR: pointer
}
#thumbs LI.last {
	MARGIN: 25px 10px 0px 15px; WIDTH: 9px; HEIGHT: 16px; CURSOR: pointer
}
#thumbs LI A {
	BORDER-BOTTOM: #fff 2px solid; BORDER-LEFT: #fff 2px solid; WIDTH: 90px; DISPLAY: block; FONT-SIZE: 0px; BORDER-TOP: #fff 2px solid; BORDER-RIGHT: #fff 2px solid
}
#thumbs LI A:hover {
	BORDER-BOTTOM: #000 2px solid; BORDER-LEFT: #000 2px solid; BORDER-TOP: #000 2px solid; BORDER-RIGHT: #000 2px solid
}
#thumbs LI A.current {
	BORDER-BOTTOM: #f8ae0f 2px solid; BORDER-LEFT: #f8ae0f 2px solid; BORDER-TOP: #f8ae0f 2px solid; BORDER-RIGHT: #f8ae0f 2px solid
}
#thumbs LI.first IMG {
	
}
#thumbs LI.last IMG {
	
}
.bigbtnPrev {
	Z-INDEX: 100; POSITION: absolute; WIDTH: 35px; HEIGHT: 51px; TOP: 186px; CURSOR: pointer; LEFT: 10px
}
.bigbtnNext {
	Z-INDEX: 100; POSITION: absolute; WIDTH: 35px; HEIGHT: 51px; TOP: 186px; CURSOR: pointer; RIGHT: 10px
}
#big_play_prev {
	BACKGROUND-IMAGE: url(../images/leftbig.png); WIDTH: 35px; DISPLAY: block; HEIGHT: 51px; _background: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src='../images/leftbig.png')
}
#big_play_next {
	BACKGROUND-IMAGE: url(../images/rightbig.png); WIDTH: 35px; DISPLAY: block; HEIGHT: 51px; _background: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=crop,src='../images/rightbig.png')
}
#smallpicarea {
WIDTH: 625px; float:left; margin-left:20px;
}
